@import '../../../styles/grid.scss';
@import '../../../styles/colors.scss';


.container {
    @include grid;
    grid-auto-rows: 55px;

    @media only screen and(min-width: 600px) {
        @include gridLayout((4,1), (4,1), (4,1))
    }
        
        max-width: 100%;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        background-color: $black;
        padding-bottom: 13px;
    
        > li{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    
    a{
        text-decoration: none;
        color: $gold; 
        cursor: pointer;
    &:hover{
        color: $white;
    }  
}

header{
    border-bottom: 4px solid $gold;
}