/* You can add global styles to this file, and also import other style files */

@import './app/styles/colors.scss';

body{
    margin: 0 auto;
    font-family: "Eagle";
    background-color: $white;
    position:relative;
}


.goup{
	bottom:0px;
	display: block;
	position: fixed;
	right:0px;
	width:40px;
}


